@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.jsx';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-primary-50: #fbf7ff;
    --color-primary-100: #f5ebff;
    --color-primary-200: #ead6ff;
    --color-primary-300: #dcb3ff;
    --color-primary-400: #c985ff;
    --color-primary-500: #9d4edd;
    --color-primary-600: #8a30d9;
    --color-primary-700: #7523b0;
    --color-primary-800: #62208f;
    --color-primary-900: #511c73;
    --color-primary-950: #33084d;
}
